{% extends 'app/base.html' %}

{% block body_block %}
<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>All about Online Store</h2>
					<div class="list-group">
						<a href="#" class="list-group-item">
							<h3 class="list-group-item-heading">Category</h3>
							<p class="list-group-item-text">The online store enables you to have add category (Visible Only to the Admin) that
							can additionally be filled with several items under that category. It's just a simple
							way of trying to replicate what usually happens with eCommerce market places.</p>
						</a>
						
						<a href="#" class="list-group-item">
							<h3 class="list-group-item-heading">Item</h3>
							<p class="list-group-item-text">
								Under items, you have the ability to add a particular item that fits the recommended
								category. You can also add a picture, a short description, your shops web address and 
								a short description of the shop.
							</p>
						</a>
						
						<a href="#" class="list-group-item">
							<h3 class="list-group-item-heading">Registration</h3>
							<p class="list-group-item-text">Under sign up or registration you can sign into the app, 
							in order to have the ability to add items within categories. It also provides you with the
							ability to add your profile picture.
							</p>						
						</a>
					</div>
				</div>
{% endblock %}
